<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo right">Architects</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="https://www.architectsmerch.co/">Merch</a></li>
            <li><a href="/albums">Albums</a></li>
        </ul>
    </div>
</nav>