body {
    background-image: url('/imgs/background2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

a {
    color: rgb(238, 235, 235);
}


nav {
    background-color: black !important;
    opacity: .5;
}

li {
    color: rgb(238, 235, 235);
}

.brand-logo {
    color: rgb(238, 235, 235) !important;

}

#albumCover {
    width: 20vw;
    height: 50% ;
    display: flex;
    margin: auto;
}

.album-container {
    display: block;
    float: left;
    margin: auto;
    position: relative;
    color: white;   
}

#albumName {
    margin: auto;
    position: relative;
    text-align: center;
}

#albumPage{
    width: 20vw;
    height: 20vw ;
    margin: auto;
    justify-content: left;
}

.content {
    color: rgb(238, 235, 235);
}