body, html {
    height: 100%;
    background-image: url('/imgs/background2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    overflow-x: hidden;
}

a {
    color: rgb(238, 235, 235);
}


nav {
    background-color: black !important;
    opacity: .5;
}

li {
    color: rgb(238, 235, 235);
}

.brand-logo {
    color: rgb(238, 235, 235) !important;

}


.content {
    color: rgb(238, 235, 235);
}


.card {
    background-color: #11ffee00 !important;
    border: none !important;
    outline: none;

}

.card-body {
    border: none !important;
    font-size: 14px;
    text-align: center;
    color: rgb(189, 188, 188);
}

.card-deck {
    position: relative;
    text-align: center;
    color: rgb(252, 252, 252);
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-img-top {
    opacity: .8;
}

a {
    text-decoration: none !important;
    color: white !important;
}

#albumPage{
    width: 20vw;
    height: 20vw ;
    margin: auto;
    justify-content: left;
}