<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Architects</title>
</head>

<body>
    <header>
        <%- include('../partials/head') -%>
    </header>

    <div class="bio content">
        <p> Architects are a British metalcore band from Brighton, East Sussex, formed in 2004 by twin brothers Dan and
            Tom Searle.
            The band now consists of Dan Searle on drums, Sam Carter on vocals, Alex Dean on bass, and Adam Christianson
            and Josh Middleton on guitars.
        </p>
        <p>
            They have been signed to Epitaph Records since 2013."
        </p>
    </div>
</body>

</html>